<li>

	{{id}}. {{burger_name}}

	<button class="change-devour button is-danger" data-id="{{id}}" data-newdevour="{{devoured}}">
		Devour!
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
 