<li>
	{{id}}. {{burger_name}}

	<button class="devour-btn button is-danger" data-id="{{id}}" data-newdevour="{{devoured}}">
		Devour!
	</button>

	<button class="delete-burger" data-id="{{id}}">Delete!</button>
</li>
 